@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
html {
    height: 100%;
    box-sizing: border-box;
}
body {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
    font-display: swap;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    touch-action: manipulation;
}
#app {
    background-color: grey;
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 0 4px 30px black;
    flex-basis: 700px;
    min-height: 600px;
    padding: 20px 35px;
}
#header {
    background-color: rgb(88, 87, 87);
    border-bottom: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
}
#menu-button {
    background: none;
    border: none;
    cursor: pointer; 
}
#title {
    flex-grow: 1;
    text-align: center; 
}
#main {
    padding-top: 20px; 
}

#menu {
    list-style: none;
}
#menu li {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu li button {
    cursor: pointer;
    background: none;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(88, 87, 87);
    border-radius: 8px;
    min-width: 100px;
    font-size: 25px;
}
#left-arrow {
    display: none;
   
}
#left-arrow svg {
    width: 40px;
    height: 40px;
}
#right-arrow {
    display: none;
}
#right-arrow svg {
    width: 40px;
    height: 40px;
    float: right;
}
#character {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: rgb(238, 238, 238);
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 70px;
}
.meaning {
    font-size: 25px;
    border: solid 1px;
    display: inline-block;
    margin: 10px;
}
.read {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 35px;
    border: solid 1px;
    list-style: none;
    display: inline-block;
    margin: 10px;
}
.read.umdok {
    color: rgb(173, 20, 20);

}
.read.hundok {
    color: rgb(26, 26, 179);
}